* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 30.33%;
  margin: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.column1 {
  float: left;
  width: 30.33%;
  margin: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.column2 {
  float: left;
  width: 30.33%;
  margin: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

@media only screen and (max-width: 991px) and (min-width:768px) {
 
.column {
  float: left;
  width: 44.00%;
  margin: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

  .column1 {
  float: left;
  width: 44.00%;
  margin: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

  .column2 {
  float: left;
  width: 90.00%;
  height: 300px; /* Should be removed. Only for demonstration */
}

  
}

@media only screen and (max-width: 768px) {
 
.column {
  float: left;
  width: 92.00%;
  margin: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.column1 {
  float: left;
  width: 92.00%;
  margin: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

  .column2 {
  float: left;
  width: 92.00%;
  margin: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}
  
}

.head{
      background:#FF3364; 
      float: right; 
      margin-top: 0%; 
      width: 150px;
      text-align: center; 
      border: 1px solid black;
}

.secondhead{
      background:#FF4633; 
      float: right; 
      margin-top: 0%; 
      width: 150px;
      text-align: center; 
      border: 1px solid black;
}

.thirdhead{
      background:#FFE333; 
      float: right; 
      margin-top: 0%; 
      width: 150px;
      text-align: center; 
      border: 1px solid black;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
