* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 30.33%;
  margin: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}
 
.head{
      background:#FF3364; 
      float: right; 
      margin-top: 0%; 
      width: 150px;
      text-align: center; 
      border: 1px solid black;
}

.secondhead{
      background:#FF4633; 
      float: right; 
      margin-top: 0%; 
      width: 150px;
      text-align: center; 
      border: 1px solid black;
}

.thirdhead{
      background:#FFE333; 
      float: right; 
      margin-top: 0%; 
      width: 150px;
      text-align: center; 
      border: 1px solid black;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
